@media (max-width: 768px) {
    main{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 100vh;
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}